<section>
  <p>Login:</p>
  <form id="login-form">
    <input type="text" id="username" placeholder="username" />
    <input type="password" id="password" placeholder="password" />
    <button type="submit" id="submit">Login</button>
  </form>

  <p>Signup:</p>
  <form id="create-form">
    <input type="text" id="create-username" placeholder="username" />
    <input type="password" id="create-password" placeholder="password" />
    <button type="submit" id="submit">Signup</button>
  </form>

  <script src="/js/login.js"></script>
</section>