<section id="post-container">
  <div id="post">
    <h3 id="post-title"></h3>
    <p id="post-user"></p>
    <p id="post-contents"></p>
  </div>
  <hr />
  <div id="comment-container">

  </div>
  <div>
    <form id="comment-form">
      <input type="text" id="add-comment" />
      <button id="submit">Add Comment</button>
    </form>
  </div>
  <script src="/js/post.js"></script>
</section>