<section id="post-container">
  <div id="post">
    <h3 id="post-title"></h3>
    <p id="post-user"></p>
    <p id="post-contents"></p>
  </div>
  <hr />
  <div>
    <h3>Update or Delete Post</h3>
    <form id="post-form">
      <input type="text" id="update-post-title" placeholder="Post Title" />
      <input type="text" id="update-post-content" placeholder="Post Content" />
      <button id="update-post-btn">Update Post</button>
      <button id="delete-post-btn">Delete Post</button>
    </form>
  </div>
  <script src="/js/userpost.js"></script>
</section>